.cache
.classpath
spec/.idea/
spec/spec.iml
.metadata/
*.class
*.jar
*.beam
mochijson2.erl
bin/
ebin/
.project
.prefs
.settings/
.log
.xml
/Monitoring tools/Manager/build/
/Monitoring tools/Manager/dist/